{{ form | json }} <br>
{{ form.category | json }}

<form (submit)="onSubmit($event)">
  <input (change)="onChange('name', $event.target.value)" [(ngModel)]="game.name" placeholder="Nom"/>
    <select (change)="onChange('category', $event.target.value)" name="category">
      <option value="">Catégorie du jeu</option>
      <option *ngFor="let c of gameCategories" [value]="c.id">{{ c.name }}</option>
    </select>
    <input (change)="onChange('editor', $event.target.value)" [(ngModel)]="editor.name" placeholder="Editeur"/>
  
    <input type="reset" value="RAZ" (click)="onReset()">
    <input type="submit" value="Filter">
</form>
