/* Police du site */
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

form {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

input, 
select {
    margin-right: 15px;
}

