<h1>Jeux disponibles</h1>

<app-game-list-filter></app-game-list-filter>

<div class="cards">
  <div>
    <button (click)="sizeDown()">-</button>
    <button (click)="sizeUp()">+</button>
    <button (click)="sizeReset()">100%</button>
  </div>

  <ul class="cards__list">
    <li class="card" *ngFor="let game of games" [ngStyle]="{'width': width + 'px'}">
      <img src="http://fakeimg.pl/50" alt="editor">
      <div class="card__container" >
        <h4>{{ game.name }}</h4> 
        <p><strong>Categorie : </strong><span>{{ game.category }}</span></p> 
        <p><strong><span>Developer : </span> {{game.editor}}</strong></p>
        <p><strong>Note : </strong>{{ game.note }} /10</p> 
        <p style="width: 300px;"><strong>Description : </strong> {{ truncate(game.description) }}</p>
      </div>
      <div class="action">
        <app-game-actions
          (click)="onActionClick($event, game)">
        </app-game-actions>
      </div>

      <input type="submit" class="btn-supprimer-jeu" value="Supprimer">
    </li>
  </ul>
</div>







