<h1>Jeux disponibles</h1>

  <ng-template #loading>
    <p>Chargement...</p>
  </ng-template>
    
  <app-game-list-filter (filter)="onFilter($event)"></app-game-list-filter>

  <div>
    <button (click)="sizeDown()">-</button>
    <button (click)="sizeUp()">+</button>
    <button (click)="sizeReset()">100%</button>
  </div>
  
  <section *ngIf="filteredEntities; else loading" >
    <article *ngFor="let game of filteredEntities" [ngStyle]="{'width': width + 'px'}">
      <header>
        <div>
          <img [src]="game.coverImage" (click)="seeDetails(game.id)" alt="game logo">
          <h1>{{ game.title }}</h1>
            <p *ngFor="let genre of game.genres">{{ genre.name }}</p>
        </div>
        <div class="spacer"></div>
      </header>
      <div>
        <p>Editor : {{ game.publisher }}</p>
      </div>
      <main>
        {{ truncate(game.description) }}
      </main>
        
      <footer>
        <button type="button" (click)="delete(game.id)" id="delete">supprimer</button>
        <!-- <button type="button" (click)="edit(game.id)" id="delete">editer</button> -->
      </footer>
    </article>
  </section>

  <div class="card-footer pb-0 pt-3">
    <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
  </div>