/* Police du site */
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
}

.cards {
  background-color: #c7c6c6;
  margin: auto 15%;
  padding: 1%;
  font-family: 'Poppins', sans-serif;

  &__list {
      display: flex;
      flex-direction: row;
      list-style: none;
      flex-wrap: wrap;
      padding: 0;
  }
}

.card {
  background-color: rgb(230, 230, 230);
  border-color: black;
  border-radius: 5px;
  border: .25em solid;
  display: flex;
  flex-direction: column;
  margin: 10px auto 10px auto;

  &__container {
      padding: 10px;
  }
}

.action {
  text-align: center;
}