<h1>Jeux disponibles</h1>

  <ng-template #loading>
    <p>Chargement...</p>
  </ng-template>
    
  <app-game-list-filter (filter)="onFilter($event)"></app-game-list-filter>
  
  <div>
    <button (click)="sizeDown()">-</button>
    <button (click)="sizeUp()">+</button>
    <button (click)="sizeReset()">100%</button>
  </div>
  
  <section *ngIf="filteredEntities; else loading"> 
    <article *ngFor="let game of filteredEntities" [ngStyle]="{'width': width + 'px'}">
      <header>
        <img [src]="game.coverImage" alt="game logo">
        <div>
          <h1>{{ game.title }}</h1>
          
          <!-- <select ng-options="game as game.genres for game in game"></select> -->
          <p *ngFor="let genre of game.genres">{{ genre.name }}</p>
        </div>
        <div class="spacer"></div>
        <p>{{ game.note }}/10</p>
      </header>
      
      <main>
        {{ truncate(game.description) }}
      </main>
      
      <footer>
        <button
          type="button"
          (click)="delete(game.id)"
          id="delete">
          supprimer
        </button>
      </footer>
    </article>
  </section>